#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_insta {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_twitter {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-itemList_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-home_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-pageItem_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Line_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-760acb75-600c-4af6-bf64-0348d3bc9646 #m-760acb75-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Button_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Button_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Account_Icon {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Tab_Hompage {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-light_Icon_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-light_Icon_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Login_Icon {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-ShoppingCart_Icon_Homepage {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-num1_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Wishlist_Icon_Homepage {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-num1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-light_Icon_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-dininggin_Icon_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Lounge_Icon_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Tab_Hompage_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-light_Icon_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-light_Icon_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-logo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-ShoppingCart_Icon_Homepage_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-num1_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Wishlist_Icon_Homepage_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-num1_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-light_Icon_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-dininggin_Icon_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Lounge_Icon_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Triangle_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Username_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-temp {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65) ;
  filter: alpha(opacity=65) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-CreateAccount {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Image_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-braqq_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-CreateAccount_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Close_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Image_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_Error_Login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ad962290-925f-4fc6-9d8a-c57b532ccdc9 #m-ad962290-Text_Error_Account {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}