#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation {
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Category_1-options {
  background-color: #67D8FF;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Category_2-options {
  background-color: #67D8FF;
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-MyAccountInfomation_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F1F4FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F1F4FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F1F4FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F4FF;
  -ms-transform: rotate(0.0deg);
}
#s-04ba84fe-cbde-401e-8c09-fd61a7ae908b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}