#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-SUITES_2 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BGP_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_P_20 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-nameP_20 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_40 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_524 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-forClick_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BGP_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_P_21 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-nameP_21 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_42 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_523 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-forClick_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BGP_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_P_22 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-nameP_22 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_44 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_520 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-forClick_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BGP_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_P_25 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-nameP_25 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_50 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_51 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-forClick_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BGP_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_P_26 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-nameP_26 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_52 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_53 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-forClick_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-BGP_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-Image_P_27 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-nameP_27 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_54 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-priceP_55 {
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 #s-forClick_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-19341e4f-1e43-4c21-938a-9b1d192e2689 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}