#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Triangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(270.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-remove {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Name_Product_data_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Triangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(90.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-remove_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Triangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(270.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-remove_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Triangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(90.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-remove_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Price_data_sale {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Price_data_sale_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Price_data_sale_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff #s-Price_data_sale_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3b2f4520-4c6e-4eac-b687-1cbb956d54ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}