#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account {
  -ms-transform: rotate(0.0deg);
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}