#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}