#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 600px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color {
  position: absolute;
  width: 1024px;
  height: 600px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color > .paddingLayer {
  height: 600px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-BG_Color span#rtr-s-BG_Color_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 {
  position: absolute;
  width: 1024px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 > .paddingLayer {
  height: 76px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 33.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 {
  position: absolute;
  width: 241px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 > .paddingLayer {
  height: 32px;
  width: 241px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 input::-webkit-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 input::-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 input:-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 input:-ms-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 {
  position: absolute;
  width: 333px;
  height: 30px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 input {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #67D8FF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4DD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4DD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4DD2FF;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Input_1 > .paddingLayer {
  height: 28px;
  width: 326px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_1 {
  width: 399px;
  height: 287px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 399px;
  height: 287px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 30.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_23 span#rtr-s-Text_23_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID input::-webkit-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID input::-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID input:-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID input:-ms-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID {
  position: absolute;
  width: 265px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID input {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #67D8FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4DD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4DD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4DD2FF;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID > .paddingLayer {
  height: 27px;
  width: 258px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass input::-webkit-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass input::-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass input:-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass input:-ms-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass {
  position: absolute;
  width: 227px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass input {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #67D8FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4DD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4DD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4DD2FF;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass > .paddingLayer {
  height: 27px;
  width: 220px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount span {
  color: #004D00;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-CreateAccount span#rtr-s-CreateAccount_0 {
  color: #004D00;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_4 {
  position: absolute;
  width: 33px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_4 > img, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_4 > svg {
  height: 30px;
  width: 33px;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_2 {
  width: 402px;
  height: 287px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 402px;
  height: 287px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-braqq_1 span#rtr-s-braqq_1_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 input::-webkit-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 input::-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 input:-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 input:-ms-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 {
  position: absolute;
  width: 196px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 input {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #67D8FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Pass_1 > .paddingLayer {
  height: 27px;
  width: 189px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 input::-webkit-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 input::-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 input:-moz-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 input:-ms-input-placeholder {
  color: #008000;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 {
  position: absolute;
  width: 229px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 input {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #67D8FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-ID_1 > .paddingLayer {
  height: 27px;
  width: 222px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 33.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_24 span#rtr-s-Text_24_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 span {
  color: #004D00;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Login111 span#rtr-s-Login111_0 {
  color: #004D00;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_3 {
  position: absolute;
  width: 29px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_3 > img, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_3 > svg {
  height: 27px;
  width: 29px;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Line_1 {
  position: absolute;
  width: 392px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_1 {
  position: absolute;
  width: 62px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_1 > img, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_1 > svg {
  height: 25px;
  width: 62px;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_2 {
  position: absolute;
  width: 44px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_2 > img, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Image_2 > svg {
  height: 36px;
  width: 44px;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 48.0pt;
  font-family: 'Amiko',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-logo span#rtr-s-logo_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login {
  position: absolute;
  width: 432px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login > .paddingLayer {
  height: 34px;
  width: 432px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login span {
  color: #FFA500;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Login span#rtr-s-Text_Error_Login_0 {
  color: #FFA500;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account {
  position: absolute;
  width: 338px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Rasa',Arial;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account > .clipping, #s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account > .paddingLayer {
  height: 34px;
  width: 338px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account span {
  color: #FFA500;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a #s-Text_Error_Account span#rtr-s-Text_Error_Account_0 {
  color: #FFA500;
  text-align: left;
  text-decoration: none;
  font-family: 'Rasa',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3c30da31-9c85-4cf9-a5a7-baddbea66b4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}