#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color {
  position: absolute;
  width: 1024px;
  height: 940px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color > .paddingLayer {
  height: 940px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color span#rtr-s-BG_Color_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 span#rtr-s-Text_1_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Line_1 {
  position: absolute;
  width: 621px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-detail {
  position: absolute;
  width: 417px;
  height: 172px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 {
  position: absolute;
  width: 417px;
  height: 172px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 > .paddingLayer {
  height: 172px;
  width: 417px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 {
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 span {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 span#rtr-s-remove_3_0 {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_1 {
  position: absolute;
  width: 161px;
  height: 162px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_1 > img, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_1 > svg {
  height: 162px;
  width: 161px;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 {
  position: absolute;
  width: 221px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 > .paddingLayer {
  height: 28px;
  width: 221px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 span#rtr-s-Text_2_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 {
  position: absolute;
  width: 68px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 > .paddingLayer {
  height: 28px;
  width: 68px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 span#rtr-s-Text_4_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 {
  position: absolute;
  width: 18px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 > .paddingLayer {
  height: 28px;
  width: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 span#rtr-s-Text_3_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #00BFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save {
  position: absolute;
  width: 125px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save > .paddingLayer {
  height: 34px;
  width: 121px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save span {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save span#rtr-s-Save_0 {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-detail_1 {
  position: absolute;
  width: 388px;
  height: 327px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 {
  position: absolute;
  width: 388px;
  height: 327px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 > .paddingLayer {
  height: 327px;
  width: 388px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 {
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 span {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 span#rtr-s-remove_4_0 {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_4 {
  position: absolute;
  width: 322px;
  height: 199px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_4 > img, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_4 > svg {
  height: 199px;
  width: 322px;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 {
  position: absolute;
  width: 322px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.5pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 > .paddingLayer {
  height: 28px;
  width: 322px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 span#rtr-s-Text_7_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 {
  position: absolute;
  width: 86px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 > .paddingLayer {
  height: 28px;
  width: 86px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 span#rtr-s-Text_9_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 {
  position: absolute;
  width: 18px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 > .paddingLayer {
  height: 28px;
  width: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 span#rtr-s-Text_8_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #00BFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 {
  position: absolute;
  width: 125px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 > .paddingLayer {
  height: 34px;
  width: 121px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 span {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 span#rtr-s-Save_2_0 {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-detail_2 {
  position: absolute;
  width: 388px;
  height: 172px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 {
  position: absolute;
  width: 388px;
  height: 172px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 > .paddingLayer {
  height: 172px;
  width: 388px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_6 {
  position: absolute;
  width: 161px;
  height: 162px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_6 > img, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_6 > svg {
  height: 162px;
  width: 161px;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 {
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 span {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 span#rtr-s-remove_5_0 {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 {
  position: absolute;
  width: 181px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 > .paddingLayer {
  height: 28px;
  width: 181px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 span#rtr-s-Text_12_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 {
  position: absolute;
  width: 68px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 > .paddingLayer {
  height: 28px;
  width: 68px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 span#rtr-s-Text_14_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 {
  position: absolute;
  width: 18px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 > .paddingLayer {
  height: 28px;
  width: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 span#rtr-s-Text_13_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #00BFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 {
  position: absolute;
  width: 91px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 > .paddingLayer {
  height: 23px;
  width: 87px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 span {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 span#rtr-s-Save_3_0 {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-detail_3 {
  position: absolute;
  width: 417px;
  height: 332px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 {
  position: absolute;
  width: 417px;
  height: 332px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 > .paddingLayer {
  height: 332px;
  width: 417px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_8 {
  position: absolute;
  width: 364px;
  height: 198px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_8 > img, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_8 > svg {
  height: 198px;
  width: 364px;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 {
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 span {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 span#rtr-s-remove_6_0 {
  color: #008000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 {
  position: absolute;
  width: 363px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.5pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 > .paddingLayer {
  height: 28px;
  width: 363px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 span#rtr-s-Text_17_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 {
  position: absolute;
  width: 68px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 > .paddingLayer {
  height: 28px;
  width: 68px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 span#rtr-s-Text_19_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 {
  position: absolute;
  width: 18px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 > .paddingLayer {
  height: 28px;
  width: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 span#rtr-s-Text_18_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #00BFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 {
  position: absolute;
  width: 125px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 > .paddingLayer {
  height: 34px;
  width: 121px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 span {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 span#rtr-s-Save_1_0 {
  color: #008000;
  text-align: center;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale span {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale span#rtr-s-Price_data_sale_0 {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 span {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 span#rtr-s-Price_data_sale_1_0 {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-bread div.offset {
  position: absolute;
  top: -36px;
  left: -100px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-bread {
  position: absolute;
  width: 824px;
  height: 30px;
  overflow: visible;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-foot div.offset {
  position: absolute;
  top: -754px;
  left: -100px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-foot {
  position: absolute;
  width: 824px;
  height: 147px;
  overflow: visible;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-menu div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-menu {
  position: absolute;
  width: 1024px;
  height: 763px;
  overflow: visible;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 span {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 span#rtr-s-Price_data_sale_2_0 {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Amiko',Arial;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 > .clipping, #s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 span {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 span#rtr-s-Price_data_sale_3_0 {
  color: #00B300;
  text-align: left;
  text-decoration: line-through;
  font-family: 'Amiko',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}