#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-remove_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Save_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb #s-Price_data_sale_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a044234b-c792-4acc-a45c-d8bb0c35e2eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}