#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Name_Product_data {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-dollar_sign {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Price_data {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-QTY_label {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Fav_Icon {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Category__QTY-options {
  background-color: #CDF2FF;
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Description {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Save {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-QTY_label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Line_Description_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00BFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Description_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_P_222 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_222 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-priceP_444 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-priceP_445 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_P_223 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_P_224 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_P_225 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Description_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Image_P_226 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_223 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_224 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_225 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_226 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_227 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_228 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_229 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_230 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_231 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_232 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_233 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-nameP_234 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Price_data_sale {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Product_Image_Default {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Click_ZOOM {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Save_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9AE5FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #9AE5FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9AE5FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #9AE5FF;
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 #s-Product_Image_Zoom {
  -ms-transform: rotate(0.0deg);
}
#s-d825f401-2839-44d6-9a77-fffca5fcfde6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}