#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BG_Color {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_6 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4DD2FF;
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-SUITES_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BGP_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_P_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-nameP_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_40 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_524 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-forClick_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BGP_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_P_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-nameP_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_523 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-forClick_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BGP_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_P_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-nameP_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_44 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_520 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-forClick_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BGP_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_P_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-nameP_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_50 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_51 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-forClick_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BGP_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_P_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-nameP_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_52 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-forClick_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-BGP_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-Image_P_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-nameP_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_54 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-priceP_55 {
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff #s-forClick_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f8ff64c8-158c-4e65-a4d2-d2f2c5b7f8ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}