#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_insta {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_twitter {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}