#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #9AE5FF;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG {
  position: absolute;
  width: 824px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG > .paddingLayer {
  height: 147px;
  width: 824px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG .valign {
  vertical-align: middle;
  text-align: center;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-BG span#rtr-m-84009793-BG_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Footer {
  position: absolute;
  width: 791px;
  height: 130px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about {
  position: absolute;
  width: 177px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about > .paddingLayer {
  height: 43px;
  width: 177px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about span#rtr-m-84009793-about_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-about span#rtr-m-84009793-about_1 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_14 span#rtr-m-84009793-Text_14_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_15 span#rtr-m-84009793-Text_15_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_16 span#rtr-m-84009793-Text_16_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_17 span#rtr-m-84009793-Text_17_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_18 span#rtr-m-84009793-Text_18_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_19 span#rtr-m-84009793-Text_19_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Text_20 span#rtr-m-84009793-Text_20_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow span {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-follow span#rtr-m-84009793-follow_0 {
  color: #008000;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face {
  position: absolute;
  width: 46px;
  height: 42px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face > img, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face > svg {
  height: 42px;
  width: 46px;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_insta {
  position: absolute;
  width: 47px;
  height: 43px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_insta > img, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_insta > svg {
  height: 43px;
  width: 47px;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_twitter {
  position: absolute;
  width: 64px;
  height: 62px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_twitter > img, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_twitter > svg {
  height: 62px;
  width: 64px;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Amiko',Arial;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 > .clipping, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 span {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-brick_2018 span#rtr-m-84009793-brick_2018_0 {
  color: #00B300;
  text-align: left;
  text-decoration: none;
  font-family: 'Amiko',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face_1 {
  position: absolute;
  width: 90px;
  height: 84px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face_1 > img, #m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Image_face_1 > svg {
  height: 84px;
  width: 90px;
  box-shadow: none;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Line_4 {
  position: absolute;
  width: 464px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-m-84009793-Line_4 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a #m-84009793-Line_5 {
  position: absolute;
  width: 251px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #008000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-m-84009793-Line_5 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-84009793-81ff-42a2-8f06-9a81775f497a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}